
.container {
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beian {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
}
